/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY GENERALE */
html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
  background: #020617;
  color: #f9fafb;
}

/* LINK DI BASE */
a {
  color: inherit;
  text-decoration: none;
}

/* IMMAGINI RESPONSIVE */
img {
  max-width: 100%;
  height: auto;
  display: block;
}